//  May change in future
//  Here are stored all mixins
//  that I use in scss

// @mixin svg($widthAndHeight,$color)
// {
//     width: 100%;
//     height: 100%;

//     fill: $color;

//     transition: fill $bgTransition;
// }
// @mixin singleBreakpoint($screenWidth)
// {
//     @media (max-width: $screenWidth+'px')
//     {
//         @content;
//     }
// }
@mixin dashArrayAnimation($start, $end)
{
    &
    {
        animation-name: dashArrayAnimation;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    @keyframes dashArrayAnimation
    {
        from{stroke-dasharray: $start;}
        to{stroke-dasharray: $end;}
    }
}

@mixin hover()
{
    @media(hover:hover)
    {
        &:hover
        {
            @content;
        }
    }
}